<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Panogram.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>06CAECD41F036EFF00D16E19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06CAECE81F036F0000D16E19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06CAECF31F036F0000D16E19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
